// AUTO-IMPORTS START

// AUTO-IMPORTS END


















body {
    background: #000;
    color: #fff;
    font-family: 'Cabin', Arial, sans-serif;
    overflow-x: hidden;

    .wp-block-columns {
        max-width: 1340px;
        width: 100%;
        margin: 0 auto;
    }

    .container, 
    .wp-block-columns.alignwide {
        max-width: 1540px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .wp-block-columns.alignfull {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
    }

    a, svg, path {
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    a:hover {
        color: #F12D12;
        text-decoration: none;
    }

    .container-flex {
        display: flex;
        grid-gap: 15px;
        align-items: center;
    }

    .container-flex > div, 
    .container-flex > nav {
        flex: 1;
    }

    .sol-newsletter form {
        display: flex;
        margin-top: 16.8px;
    }

    .sol-newsletter form > * {
        flex: 1;
    }

    .sol-newsletter input {
        padding: 15px;
    }

    .sol-newsletter input[type=email] {
        background: #000;
        border-left: 1px solid rgb(255 255 255 / 20%);
        border-top: 1px solid rgb(255 255 255 / 20%);
        border-bottom: 1px solid rgb(255 255 255 / 20%);
        border-right: 0;
        border-radius: 4px 0 0 4px;
    }

    .sol-newsletter input[type=submit] {
        max-width: 150px;
        background: #f12d12;
        border-top: 1px solid #f12d12;
        border-bottom: 1px solid #f12d12;
        border-right: 1px solid #f12d12;
        border-left: 0;
        border-radius: 0 25px 25px 0;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
    }

    .sol-newsletter-privacy {
        font-size: 14px;
        margin-top: 6px;
        opacity: 0.8;
    }

    .bricks-container .wp-block-group.brick {
        margin-top: 0;
    }

    article.type-post,
    main#primary.blog-container {
        display: flex;
        grid-gap: 30px;
        margin: 0 0 60px;

        .entry-content {
            margin-top: 32px;
        }
    }

    main#primary.blog-container {
        margin: 0 auto 60px;
    }

    article.type-post > *,
    main#primary.blog-container > * {
        flex: 1;
    }

    main#primary.blog-container .blog-sidebar {
        max-width: 360px;
        box-sizing: border-box;
    }

    aside#secondary {
        max-width: 360px;
        margin: 30px 0;
        padding: 30px;
        box-sizing: border-box;
        border-radius: 4px;
    }

    aside#secondary img {
        filter: grayscale(1);
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    aside#secondary img:hover {
        filter: grayscale(0);
    }

}

.header__inner {
    position: relative;
    background-size: cover !important;
    background-position: bottom !important;
    border-bottom: 1px solid rgb(255 255 255 / 10%);

    > .container {
        z-index: 5;
        position: relative;
    }

    button.menu-toggle {
        display: none;
    }

    #site-logo, 
    #site-social {
        max-width: 250px;
    }

    .site-bradlee {
        position: absolute;
        height: 100%;
        right: 50%;
        bottom: 0;
        display: flex;
        align-items: flex-end;
        z-index: 0;
    }

    .site-bradlee img {
        height: calc(100% - 5px );
    }

    .header-nav,
    ul#main-menu,
    div#main-menu ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul#main-menu,
    div#main-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul#main-menu ul.sub-menu,
    div#main-menu ul ul.sub-menu {
        display: none;
    }

    ul#main-menu li a,
    div#main-menu ul li a {
        color: #fff;
        font-weight: bold;
        padding: 30px 10px;
        text-shadow: 1px 1px 5px #000;
        display: block;
    }

    ul#main-menu li a:hover,
    div#main-menu ul li a:hover {
        color: #fff;
        transform: scale(1.05);
    }

    li.menu-item-has-children > a:after {
        content: "";
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSI0IiB2aWV3Qm94PSIwIDAgNyA0IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNLTEuMzQ0OWUtMDcgMC45MjMyMjlMLTEuNjEzODllLTA3IDAuMzA3ODU5Qy0xLjY2NThlLTA3IDAuMTg5MDkzIDAuMDY1MDQxNSAwLjA4MDc4ODQgMC4xNjY4MzMgMC4wMjk3MTI3QzAuMjY4NjI1IC0wLjAyMTM2MjggMC4zODkwODMgLTAuMDA1NjcxNTIgMC40NzY1ODMgMC4wNjk3MTE0TDMuNSAyLjY3OTQ5TDYuNTIzNzEgMC4wNjk3MTEyQzYuNjEwOTIgLTAuMDA1NjcxNzkgNi43MzEzOCAtMC4wMjEwNTU1IDYuODMzNDYgMC4wMjk3MTI0QzYuOTM1NTQgMC4wODA0ODAzIDcgMC4xODkwOTMgNyAwLjMwNzg1OUw3IDAuOTIzMjI5QzcgMS4wMTU1MyA2Ljk2MDYyIDEuMTAyOTIgNi44OTI5NiAxLjE2MTM4TDMuNjg0NjIgMy45MzA1NEMzLjU3NyA0LjAyMzE1IDMuNDIyNzEgNC4wMjMxNSAzLjMxNTA4IDMuOTMwNTRMMC4xMDY3NSAxLjE2MTM4QzAuMDM5Mzc0OSAxLjEwMjkyIC0xLjMwNDU1ZS0wNyAxLjAxNTUzIC0xLjM0NDllLTA3IDAuOTIzMjI5WiIgZmlsbD0iIzg1ODU4NSIvPgo8L3N2Zz4K");
        background-size: contain !important;
        background-repeat: no-repeat !important;
        display: block;
        width: 7px;
        height: 4px;
        position: absolute;
        top: 38px;
        right: 0px;
    }

    li.menu-item-has-children > a {
        padding-right: 15px !important;
        margin-right: 5px;
        position: relative;
    }

    li.menu-item-has-children:hover ul.sub-menu {
        display: block !important;
    }

    li.menu-item-has-children ul.sub-menu {
        position: absolute;
        background: #000;
        top: 80px;
        list-style: none;
        padding: 0;
        border-radius: 0 0 4px 4px;
    }

    li.menu-item-has-children ul.sub-menu li {
        border-bottom: 1px solid rgb(255 255 255 / 20%);
    }

    li.menu-item-has-children ul.sub-menu li:last-child {
        border-radius: 0 0 4px 4px;
    }

    li.menu-item-has-children ul.sub-menu li a {
        padding: 15px 20px !important;
    }

    a.sol-donate-btn {
        background: #F12D12;
        font-weight: bold;
        padding: 10px 30px;
        border-radius: 25px;
        margin: 0 15px 0 10px;
    }

    a.sol-donate-btn:hover {
        background: #fff;
        color: #F12D12;
    }

    a.sol-search-btn:hover svg {
        transform: scale(1.05);
    }

    div#site-social {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        grid-gap: 10px;
    }

    div#site-social a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div#site-social a:hover svg path {
        fill: #fff;
    }

}

.gform-theme--foundation {

    .gform_fields, 
    .gform_fields legend,
    label.gfield_label {
        color: #fff !important;
        font-size: 16px !important;
    }

    .gform_fields {
        row-gap: 10px !important;
    }

    input[type=submit] {
        background: #F12D12 !important;
        border-radius: 25px !important;
        min-width: 150px !important;
    }

}

.blog-posts {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;

    a {
        color: #fff !important;
    }

    a article {
        margin: 0;
        background: #1c1c1c;
        border-radius: 4px;
        padding: 20px 30px;
    }

    a article .entry-content {
        margin-top: 0 !important;
    }

    a article .entry-content h1.entry-title {
        margin: 0;
    }

    a article .entry-content .entry-author {
        text-transform: uppercase;
        color: #858585;
        margin-top: 5px;
    }

    a article .entry-content .thedean-read-more {
        background: #f12d12;
        font-weight: bold;
        display: inline-block;
        padding: 10px 15px;
        border-radius: 25px;
        min-width: 125px;
        text-align: center;
        font-size: 14px;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    a article .entry-content .thedean-read-more:hover {
        background: #fff;
        color: #f12d12;
    }

}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
}

.nav-links > .nav-previous, .nav-links > .nav-next {
    flex: 1;
}

.nav-links > .nav-next {
    text-align: right;
}

.nav-links > * {
    font-size: 16px;
    background: #1c1c1c;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #1c1c1c;
}

.nav-links > span.current,
.nav-links > a:hover {
    background: #f12d12;
    border: 1px solid rgb(255 255 255 / 20%);
}

.nav-links > span.dots {
    background: none;
    border: none;
    padding: 10px;
}

.nav-links > .nav-previous a, 
.nav-links > .nav-next a {
    display: block;
}

.sol-affiliates-state h3 {
    color: #f12d12;
}

.sol-affiliates-state {
    background: #1c1c1c;
    padding: 15px 30px;
    box-sizing: border-box;
    border-radius: 4px;
}

.sol-affiliates-list {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.sol-affiliate h4 {
    margin: 0 0 5px;
    padding: 0 0 5px;
    border-bottom: 1px solid rgb(255 255 255 / 10%);
}

.sol-affiliate:last-child h4 {
    border-bottom: 0;
}

.sol-affiliates-nav {
    display: flex;
    margin: 0 0 15px;
    grid-gap: 10px;
}

.sol-affiliates-nav > * {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
}

.sol-affiliates-nav-btn {
    background: #1c1c1c;
    text-align: center;
    max-width: 125px;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.sol-affiliates-nav-btn:hover {
    background: #f12d12;
}

select#sol-affiliates-nav {
    background: #1c1c1c;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid rgb(255 255 255 / 10%);
}

div#mobile-menu,
div#mobile-site-social {
    display: none;
}

.sol-endorsement-images {
    display: grid;
    grid: auto-flow dense / repeat(8, 1fr);
    grid-gap: 10px;
}

footer#colophon {
    background-size: cover !important;

    ul.sub-menu {
        display: none !important;
    }

    div#footer-menu ul,
    ul#footer-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid: auto-flow dense / 1fr 1fr;
        grid-gap: 15px;

        a {
            color: #fff;
            font-weight: bold;
        }
    }

    .site-footer__top {
        padding: 45px 0 15px;
        display: grid;
        grid: auto-flow dense / 1fr 1fr 1fr;
        grid-gap: 15px;
    }

    .site-footer_center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .site-footer_right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .site-footer_left {
        display: flex;
        align-items: center;
    }

    .site-footer__bradlee {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-top: -30px;
    }

    .site-footer__bradlee img {
        max-height: 250px;
        height: 100%;
    }

    .site-footer__bottom {
        position: relative;
    }

    .site-footer__bottom p {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        opacity: 0.8;
    }

    .site-footer_right div#site-social {
        display: flex;
        align-items: center;
        grid-gap: 10px;
    }

}

@media screen and (max-width:1400px) {

    .sol-endorsement-images {
        grid: auto-flow dense / repeat(6, 1fr);
    }

}

@media screen and (max-width:1099px) {

    nav#site-navigation,
    div#site-social {
        display: none;
    }

    div#mobile-menu {
        display: block;
        max-width: 55px;
        height: 55px;
        position: relative;
    }

    #mobile-menu button.menu-toggle {
        display: block;
        padding: 5px 15px;
        font-size: 40px;
        background: none;
        border: none;
        color: #fff;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }

    .header__inner div#site-social {
        max-width: 100%;
    }

    body.mobile-menu-open nav#site-navigation {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #000;
    }

    body.mobile-menu-open nav#site-navigation .header-nav {
        margin-top: 75px;
        display: flex;
        flex-direction: column;
    }

    body.mobile-menu-open nav#site-navigation .header-nav ul#main-menu {
        flex-direction: column;
        width: 100%;
    }

    body.mobile-menu-open nav#site-navigation .menu-main-menu-container,
    body.mobile-menu-open nav#site-navigation .menu-main-menu-container li {
        width: 100%;
    }

    body.mobile-menu-open nav#site-navigation .menu-main-menu-container li a {
        text-align: center;
        padding: 15px;
        border-bottom: 1px solid rgb(255 255 255 / 20%);
    }

    body.mobile-menu-open a.sol-donate-btn {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    body.mobile-menu-open {
        height: 100vh;
        overflow-y: hidden;
    }

    .sol-endorsement-images {
        grid: auto-flow dense / repeat(4, 1fr);
    }

    .sol-rss-feed .sol-rss-feed__container {
        grid: auto-flow dense/1fr 1fr;
        grid-gap: 15px;
    }

}

@media screen and (max-width:699px) {

    .sol-endorsement-images {
        grid: auto-flow dense / repeat(2, 1fr);
    }

    footer#colophon .site-footer__top {
        display: flex;
        flex-direction: column;
    }

    footer#colophon .site-footer_left {
        align-items: center;
        justify-content: center;
    }

    footer#colophon .site-footer_right {
        justify-content: center;
        z-index: 1;
    }

    footer#colophon .site-footer_right div#site-social a svg path {
        fill: #fff;
    }
    
}

@media screen and (max-width:550px) {

    .header__inner div#site-social {
        display: none !important;
    }

    .sol-endorsement-images {
        grid: auto-flow dense / repeat(1, 1fr);
    }

    .header__inner div#mobile-menu {
        max-width: none;
        display: flex;
        justify-content: flex-end;
    }

    .header__inner #mobile-menu button.menu-toggle {
        width: 55px;
    }

    .header__inner div#mobile-site-social {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0 0;
        grid-gap: 10px;
    }

    .sol-rss-feed .sol-rss-feed__container {
        grid: auto-flow dense / 1fr;
    }
    
}